<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Media Creations</title>


	<!-- open sans -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- raleway -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='applications/htmlclasscss.css')}}">
</head>
<body>
	<h1>My Media Creations</h1>
	<button class="backbutton" onclick="window.location.href = '/sthaboutjerry';">Back</button>
	<center>
		<p style="font-size: 1.5rem;">I like making animations and short videos.</p>
		<br><br>
		<p>Sickman series animinations I made inspired by Alan Backer</p>
		<iframe width="882" height="496" src="https://www.youtube.com/embed/CBCeUIuU2dc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<br><br>
		<iframe width="882" height="496" src="https://www.youtube.com/embed/9WnkZcyR6AE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<br><br>
		<iframe width="882" height="496" src="https://www.youtube.com/embed/kskFE_FIdTk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<br><br>

		<p>A puppet show based on the book “Frog in Winter” written by Max Velthuijs. The puppets are made of paperboard. I made the background in a creative way – drawing the background pictures on a computer and presenting them on the screen.</p>
		<iframe width="882" height="496" src="https://www.youtube.com/embed/RSsKjo1ey0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<br><br>

		<p>A monologue I made from the orange stick figure's point of view based on Alan Becker’s animation. I cut some scenes from the animation and added a story to it.</p>
		<iframe width="882" height="496" src="https://www.youtube.com/embed/6vyy5NMf0Gg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</center>
	
</body>
</html>