<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Lab & Equipment</title>

	<!-- open sans -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- raleway -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='applications/htmlclasscss.css')}}">
</head>
<body>
	<h1>My Lab & Equipment</h1>
	<br><br>
	<button class="backbutton" onclick="window.location.href = '/sthaboutjerry';">Back</button>
	<center>
		<!-- I know the name of the image is spelled wrong ok? -->
		<p>A Pingpong Ball Launcher I made. It uses an Arduino and two motors to shoot pingpong balls.</p>
		<img src="{{url_for('static', filename='applications/pics/Pingpang Ball Launch.jpg')}}"width="50%"height="50%">
		<br><br>
		<p>A Shooter That I made. It uses a Circuit Playground Express as a controller.</p>
		<img src="{{url_for('static', filename='applications/pics/A Gear Project.jpg')}}"width="50%"height="50%">
		<br><br>
		<p>My Electronic Components, like resistors, diodes, BJTs, MOSFETS, and more.</p>
		<img src="{{url_for('static', filename='applications/pics/Electronic components2.jpg')}}"width="50%"height="50%">
		<br><br>
		<p>More of my Tools and Components, such as my ZVS circuit, my soldering iron, and my multimeter.</p>
		<img src="{{url_for('static', filename='applications/pics/Workstation.jpg')}}"width="50%"height="50%">
		<br><br>
	</center>
</body>
</html>