<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Piano</title>


	<!-- open sans -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- raleway -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='applications/htmlclasscss.css')}}">
</head>
<body>
	<h1>My Piano</h1>
	<button class="backbutton" onclick="window.location.href = '/sthaboutjerry';">Back</button>
	<center>
		<p style="font-size: 1.5rem;">I love playing piano. I started when I was six. Here are some photos and videos of my recitals.</p>
		<br><br>
		<p>Virtual Recitals in 2021</p>
		<iframe width="882" height="496" src="https://www.youtube.com/embed/gn2GKnVM3p4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<br>
		<iframe width="882" height="496" src="https://www.youtube.com/embed/lky9AF9X3eY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<br><br>
		<p>Recital in 2019</p>
		<img src="{{url_for('static', filename='applications/pics/Piano 2.jpg')}}"width="50%"height="50%">
		<br><br>
		<p>Recital in 2018</p>
		<img src="{{url_for('static', filename='applications/pics/Piano 1.jpg')}}"width="50%"height="50%">

	</center>
	
</body>
</html>