<!DOCTYPE html>

<!-- remember to track the number of slides -->

<html>
<head>
    <title>Fwoosh - a bunch of SyntaxErrors for man, nothing achieved for mankind.</title>

    <!-- open sans -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- raleway -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='htmlclass/htmlclasscss.css')}}">
</head>
<body>
    <div class="navbar-div-top">
        <nav>
            <ul>
                <li style="display: inline-flex;">
                    <a href="#" style="color: #ddffbc; padding:1rem; font-size: 2rem; font-family: Raleway, 'Open Sans'"
                        >Fwoosh</a>
                </li>
                <li class="navbar-list-top">
                    <a href="/zombiegame" class="navbar-link-top">My Game</a>
                </li>
                <li class="navbar-list-top">
                    <a href="/multiplayer3dgame" class="navbar-link-top">My WebGL Project</a>
                </li>
                <li class="navbar-list-top">
                    <a href="#" class="navbar-link-top">The Same Page ig?</a>
                </li>
            </ul>
        </nav>
    </div>
    <header>
        <h1 style="font-size: 5rem;">FWOOSH</h1>
        <h1>A bunch of SyntaxErrors for man, nothing achieved for mankind.</h1>
        <p style="font-size: 0.1rem;">just kidding</p>
    </header>


    <main>
        <section>
            <h2>Apps</h2>

            <article>
                <h3>Edit code with Fwoosh IDE.</h3>
                <p>No wait our IDE is under development and looks terrible</p>
                <img src="{{url_for('static', filename='htmlclass/fwooshide.PNG')}}" alt="how terrible our IDE looks."
                width="80%" height="80%">
                <p>You saw nothing aaa</p>
                <br>
                <button>Download Fwoosh IDE Now</button>
            </article>

            <article>
                <h3>Draw masterpeices with Fwoosh Paint.</h3>
                <p>Well its actually just a bad version of ms paint</p>
                <p>OY STAFF WHY DID YOU PUT THAT</p>
                <br>
                <button>Download Fwoosh Paint Now</button>
            </article>

            <article>
                <div class="compatibility-table">
                    <h3>Compatibility Table</h3>
                    <table>
                        <tr>
                            <th></th>
                            <th>Windows 10</th>
                            <th>Windows 8.1</th>
                            <th>Windows 8</th>
                            <th>Windows 7</th>
                            <th>Mac or smth</th>
                        </tr>
                        <tr>
                            <td>Fwoosh IDE</td>
                            <td>Yes</td>
                            <td>Not Tested</td>
                            <td>Also Not Tested</td>
                            <td>Ok I Only Tested On Windows 10</td>
                            <td>I dont have a Mac aight</td>
                        </tr>
                        <tr>
                            <td>Fwoosh Paint</td>
                            <td>Yes</td>
                            <td>Stop Asking plz</td>
                            <td>ahh</td>
                            <td>bhh</td>
                            <td>chh</td>
                        </tr>
                    </table>
                </div>
            </article>
        </section>

        <br>
        <hr class="section-break-4">
        <br>

        <section>
            <h2>People</h2>

            <article>
                <h3>Greb</h3>
                <p>Greb is the awesomest all hail Greb</p>
            </article>

            <article>
                <p>theres no one else :(</p>
            </article>
        </section>
    </main>

    <br>

    <footer>
        <div class="navbar-div-bottom">
            <br>
            <nav>
                <ul>
                    <li class="navbar-list-bottom">
                        <a href="https://shorturl.at/opCN8" target="_blank" class="navbar-link-bottom">copyright &copy; Fwoosh inc 2021. no rights not reserved except for those not reserved. click to read copyright policy.</a>
                    </li>
                    <li class="navbar-list-bottom">
                        <a href="https://youtu.be/y7Ye20Wvvso" class="navbar-link-bottom">privacy policy</a>
                    </li>
                </ul>
            </nav>
            <br>
        </div>
    </footer>
</body>
</html>
<!-- this is the new version -->