<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>🥇 leaderboard 🥇</title>
</head>
<body>
	<h1>Ze Zombie Wars Leaderboard</h1>
	<p>sorry for bad font and stuffs i was on a tight scedule ok?</p>

	<h3>so here is the board</h3>

	<p>eternal 1st&nbsp;&nbsp;&nbsp;&nbsp;bavi: 100k</p>
	{% for x in range(0, len_dict): %}
	<p>{{x+2}}&nbsp;&nbsp;&nbsp;&nbsp;{{ leader_dict[str(int(_dict_ordered[x]))] }}: {{ _dict_ordered[x] }}</p>
	{% endfor %}
</body>
</html>