<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/platformer/main.css">
	</head>
	<body>
		<canvas id="canv" style="width:100%!important;height:100%!important;">
			your browser is old. older than your mom.</canvas>
		<div id="startDiv" class="overlay">
			<div class="popup" id="startPopup">
				<center>
					<h1>Platformer ig</h1>
					<button id="startBtn" onclick="startGame();">Start!</button>
				</center>
			</div>
		</div>
		<script src="/static/platformer/funcs.js"></script>
		<script src="/static/platformer/classes.js"></script>
		<script src="/static/platformer/main.js"></script>
		<script src="/static/platformer/loop.js"></script>
	</body>
</html>