<!DOCTYPE html>

<html>
<head>
	<script type="text/javascript" src="{{ url_for('static', filename='zombiegame/zombiegame.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='zombiegame/zombiegame.css') }}">
	<title>Zombie Wars</title>
	<link rel="icon" href="{{ url_for('static', filename='zombiegame/Zombie_wars.png') }}">
</head>
<body onload="onLoad();">
	<!-- HTML here -->
	<p class="desc">This is my game that I made. You are the red thing and you shoot the green zombies by pressing space. Move by pressing A and D. Try not to die!</p>
	<button class="desc" style="top: 10rem;" onclick="if(!initAlready) gameInit();">START</button>

	<canvas id="canv" width="1000" height="300" style="border:3px solid #000000"></canvas>

</body>
</html>