<!DOCTYPE html>

<html>
<head>
	<script type="text/javascript" src="{{ url_for('static', filename='zombiegame/zombiegame.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='zombiegame/zombiegame.css') }}">
	<title>Zombie Wars</title>
	<link rel="icon" href="{{ url_for('static', filename='zombiegame/Zombie_wars.png') }}">
</head>
<body onload="onLoad();">
	<!-- HTML here -->
	<canvas id="canv" width="1000" height="500" style="border:3px solid #000000"></canvas>
	<button id="testBtn">button</button>

</body>
</html>